body {
    background: linear-gradient(#7F7FD5, #91EAE4);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(#7F7FD5, #91EAE4);
}

body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(109, 73, 228);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(74, 23, 225);
}

body::-webkit-scrollbar-corner {
    background-color: rgb(133, 219, 239);
}

.companyHeading {
    letter-spacing: 3px;
}

.logOutButton:hover{
    cursor: pointer;
}

.addProductButton:hover{
    cursor: pointer;
}

.heading{
    color: blue;
}

/* add product style start */
.addProductDiv::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(185, 190, 190);
    border-radius: 6px;
}

.addProductDiv::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(151, 151, 151);
}

.addProductDiv::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 128, 128);
}

.addProductDiv{
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-46%, -50%);
    background-color:rgb(185, 190, 190);
    border-radius:6px; 
    max-width:750px;
    height: 650px;
    overflow-x:hidden;
}

.addProduct{
    padding-top:8px; 
    margin-left:19px; 
    font-family: Trebuchet MS;
    color: black;
}

.fa-circle-xmark{
    font-size:xx-large;
}

.fa-circle-xmark:hover{
    color: red;
    cursor: pointer;
}

.addProductPhotoDiv{
    max-width:200px; 
    height:180px; 
    border-radius:6px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid black;
}
/* add product style end */


/* new orders div style start */
.tableDiv {
    overflow-y: auto;
    height: 260px;
    width: 100%;
}

.tableDiv {
    position: sticky;
    top: 0px;
}

thead {
    position: sticky;
    top: 0px;
    background: #eee;
}

th {
    position: sticky;
    top: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.newOrderDiv {
    margin-top: 80px;
    background-color: white;
    border-radius: 6px;
}

.tableDiv::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(215, 214, 214);
    border-radius: 5px;
}

.tableDiv::-webkit-scrollbar-thumb {
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
}

.tableDiv::-webkit-scrollbar-thumb:hover {
    background-color: rgb(151, 151, 151);
}

.newOrders {
    padding-top: 10px;
    margin-left: 15px;
}

/* new orders div style end */


/* delivered orders div style start */
.deliveredOrderDiv {
    margin-top: 35px;
    background-color: white;
    border-radius: 6px;
}
/* delivered orders div style end */


/* all products div style start */
.productsDiv::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(215, 214, 214);
    border-radius: 5px;
}

.productsDiv::-webkit-scrollbar-thumb {
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
}

.productsDiv::-webkit-scrollbar-thumb:hover {
    background-color: rgb(151, 151, 151);
}

.allProductsDiv {
    background-color: white;
    margin-top: 35px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.allProducts {
    padding-top: 10px;
    margin-left: 15px;
}

.productsDiv {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    overflow-y: auto;
    position: sticky;
    top: 0px;
    height: 680px;
}

.productInfoDiv {
    width: 16rem;
    border: 1px solid black;
    border-radius: 6px;
}

.fa-regular{
    font-size:x-large;
}

.editButton:hover{
    cursor: pointer;
    color: green;
}

.deleteButton:hover{
    cursor: pointer;
    color: red;
}
/* all products div style end */


/* product info edit div style estart */
.editProductDiv::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(185, 190, 190);
    border-radius: 6px;
}

.editProductDiv::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(151, 151, 151);
}

.editProductDiv::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 128, 128);
}

.editProductDiv{
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-46%, -50%);
    background-color:rgb(185, 190, 190); 
    border-radius:6px; 
    max-width:750px;
    height: 650px;
    overflow-x:hidden;
}

.editProductDetails{
    padding-top:8px; 
    margin-left:19px; 
    font-family: Trebuchet MS;
    color: black;
}

.fa-circle-xmark{
    font-size:xx-large;
}

.fa-circle-xmark:hover{
    color: red;
    cursor: pointer;
}

.productPhotoDiv{
    max-width:230px; 
    height:200px; 
    border-radius:6px;
    margin-left: 20px;
    margin-top: 10px;
}
/* product info edit div style estart */
