.companyHeading{
    letter-spacing: 3px;
}

.nav-link:hover{
    cursor: pointer;
}

.newOrdersDiv{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 80px;
    position: relative;
}

.deliveredOrdersDiv{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 80px;
    position: relative;
}

/* add new project style start */
.addProductDiv{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: #DCDCDC;
}

.addProductPageCrossMark{
    font-size: 155%;
    position: relative;
    left:98%;
    transform: translate(-2%);
}

.addProductPageCrossMark:hover{
    color: red;
    cursor: pointer;
}

.photoUploadDiv{
    padding-right: 37px;
    padding-left: 9px;
    margin-top: 10px;
}
/* add new project style end */