body{
    background-color: rgb(177, 227, 238);
}

.companyHeading{
    letter-spacing: 3px;
    font-family:Trebuchet MS
}

.productPhotoDiv{
    border:1px solid black; 
    border-radius:10px; 
    max-width:350px;
    margin-left: 20px;
    margin-top: 20px;
}

.productInfoDiv{
    border:1px solid black; 
    border-radius:10px;
    margin-left: 30px;
    margin-top: 20px;
    height: fit-content;
    background-color: whitesmoke;
}

.productOrderDiv{
    border: 1px solid black;
    border-radius:10px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(197, 209, 228);
    max-width: 450px;
}

.fa-circle-xmark{
    font-size: x-large;
    position: relative;
    left:98%;
    transform: translate(-2%);
}

.fa-circle-xmark:hover{
    color: red;
    zoom:105%;
    cursor: pointer;
}

.placeOrderMainDiv{
    border: 1px solid black;
    border-radius: 10px;
    max-width: fit-content;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:rgb(204, 240, 228)
}

.sameWidth{
    width: 270px;
}

#UpiPaymentDiv{
    display: flex;
    padding:0
}

