body{
    background-color: rgb(133, 219, 239);
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(133, 219, 239);
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(80, 175, 253);
}

body::-webkit-scrollbar-corner{
    border-radius: 10px;
    background-color: rgb(133, 219, 239);
}

.logOutButton:hover{
    cursor: pointer;
}

#demoDivOne{
    display:grid; 
    grid-template-columns: auto auto auto auto auto;
}

.companyHeading{
    letter-spacing: 4px;
    font-family:Trebuchet MS
}

.slidingImagesDiv{
    border: 2px solid black; 
    border-radius:10px; 
    height:550px; width:2000px
}

.slidingImage{
    border-radius:10px; 
    width: 100%; 
    height:100%
}

.ourServicesDiv{
    width: 800px; 
    border: 2px solid black; 
    height: 550px; 
    border-radius: 10px; 
    overflow:auto; 
    background-color:rgb(255, 255, 130);
}

.ourServicesDiv::-webkit-scrollbar{
    width: 8px;
    background: rgb(238, 227, 102); /*17 28*/
    border-radius: 10px;
}

.ourServicesDiv::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgb(180, 180, 70);
}

.ourServicesDiv::-webkit-scrollbar-corner{
    border-radius: 8px;
    background-color: rgb(255, 255, 130);
}

.serviceTitle{
    font-size: large; 
    font-family: Trebuchet MS; 
    font-weight:bold
}

.serviceParts{
    font-family: Trebuchet MS;
    font-weight:bold
}

.serviceParts:hover{
    color: blue;
}

.card:hover{
    color: blue;
}

.hoverClass:hover{
    text-decoration: underline;
}

.productDiv{
    width: 16rem; 
    border: 1px solid black; 
    border-radius: 10px;
}

.contactDiv{
    border:1px solid black; 
    border-radius:10px; 
    width:fit-content; 
    position:absolute; 
    left:50%; 
    transform:translate(-50%);
    background-color: white;
}

.contacts{
    font-family:Trebuchet MS; 
    font-size:large
}

.fa-location-dot:hover{
    color: blue;
}

.fa-envelope:hover{
    color: brown;
}

.fa-phone:hover{
    color: green;
}

/* product review order div start */
.productOrderDiv{
    border-radius: 10px;
    background-color:rgb(168, 173, 173);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -46%);
    max-width: 900px;
    height: 600px;
    overflow-y:  auto;
}

.productOrderDiv::-webkit-scrollbar{
    width: 10px;
    background-color:rgb(151, 155, 155);
    border-radius: 8px;
}

.productOrderDiv::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 8px;
}

.productPhotoDiv{
    border-radius: 10px;
    width: 350px;
    height:400px;
}

.productInfoDiv{
    border-radius: 10px;
    width: 350px;
}
/* product review order div end */

/* payment div start */
.paymentDiv{
    border-radius: 10px;
    max-width: 600px;
    position:relative; 
    left:50%; 
    transform:translate(-50%);
    background-color:rgb(179, 184, 184);
    margin-bottom: 20px;
}

.fa-circle-xmark{
    font-size:190%; 
    position:absolute;
    left:96%; 
    transform:translate(-4%); 
    margin-top:5px
}

.fa-circle-xmark:hover{
    color: red;
    cursor: pointer;
}
/* payment div end */










