body{
    background: linear-gradient(#7F7FD5 , #91EAE4);
    /* background-color: #75848c; */
    height: 100vh;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: grey;
}

/* login div style start */
.loginFormContainer{
    max-width: 450px;
    border-radius: 10px;
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%);
    background-color: white;
}

.logInCrossMark{
    font-size: x-large;
    position: relative;
    left: 97.7%;
}

.logInCrossMark:hover{
    color: red;
    cursor: pointer;
}

.LogIn{
    text-align: center;
}

.LoginButtonDiv{
    text-align: center;
}

.forgetPassword{
    text-decoration: none;
}

.forgetPassword:hover{
    text-decoration: underline;
    text-decoration-color: blue;
    cursor: pointer;
}

.createAccount{
    text-decoration: none;
}

.createAccount:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}
/* login div style end */

/* sign up div style start*/
.signUpDiv{
    border-radius: 10px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-46%, -50%);
    background-color: white;
    max-width: 450px;
}

.signUp{
    text-align: center;
}
/* sign up div style end*/

/*change password div style start*/
.changePasswordDiv{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background-color: white;
}
/*change password div style end*/