body{
    background-color: rgb(237, 220, 184);
}

.companyHeading{
    letter-spacing: 3px;
    font-family:Trebuchet MS
}

.serviceTitle{
    font-size: large; 
    font-family: Trebuchet MS; 
    font-weight:bold
}

.serviceParts{
    font-family: Trebuchet MS;
    font-weight:bold
}

.serviceParts:hover{
    color: blue;
}

.card:hover{
    color: blue;
}

.formContainer{
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    max-width:500px;
    left:50%;
    transform: translate(-50%);
    display: none;
    background-color: antiquewhite;
}

#signUpDiv{
    border: 2px solid black; 
    border-radius:10px; 
    position:absolute; 
    left:50%; 
    transform:translate(-50%); 
    background-color: antiquewhite; 
    max-width:500px; 
    display:none
}

.inputLabel{
    font-family: Trebuchet MS;
    font-size:larger;
}

.logInCross{
    font-size: x-large;
    position: relative;
    left:95%;
    transform: translate(-5%);
}

.signUpCross{
    font-size: x-large;
    position: relative;
    left:94%;
    transform: translate(-6%);
}

.fa-circle-xmark:hover{
    cursor: pointer;
    color: red;
    zoom:103%
}

.blurDiv{
    filter: blur(2px);
}














