.logOutButton{
    position: relative; 
    left:86%; 
    transform:translate(-14%);
}

.userProfileDiv{
    width:600px; 
    border: 1px solid black; 
    border-radius:10px;
}

.heading{
    font-family: Trebuchet MS; 
    font-weight:bold
}

.orderTableDiv{
    border: 1px solid black; 
    border-radius:10px; 
    width:900px;
}